* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #830014;
  font-size: 2rem;
}
h2 {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  color: #008147;
}
body {
  background-color: #ebfff0;
  margin: 20px;
  /* padding: 20px; */
  font-family: Arial, sans-serif;
  color: rgb(85, 85, 85);
  line-height: 1.5;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 4rem;
  border-radius: 16px;
  box-shadow: 10px 10px 10px darkgray;
}

img {
  max-width: 15%;
  height: auto;
  border-radius: 8px;
  /* border: 1px solid white; */
  padding: 1px;
  background-color: rgb(0, 66, 33);
  transition: transform 0.5s;
  /* display: block;
  margin-left: auto;
  margin-right: auto;
 */
}

img:hover {
  transform: scale(4);
  border: none;
  background-color: rgb(0, 66, 33);
  /* transition: transform 0.3s; */
}

a {
  color: #0056b3;
  text-decoration: none;
  font-weight: 600;
}

.fav-place {
  display: flex;
  gap: 16px;
  /* align-items: flex-start; */
  align-items: center;
}
